// blue color
$blue-50: #eef8ff;
$blue-100: #dcf0ff;
$blue-200: #b2e2ff;
$blue-300: #6dccff;
$blue-400: #20b3ff;
$blue-500: #0099ff;
$blue-600: #0079df;
$blue-700: #0060b4;
$blue-800: #005194;
$blue-900: #004680;
$blue-950: #002a51;

// black color
$black-50: #f7f7f8;
$black-100: #eeeef0;
$black-200: #dad9de;
$black-300: #b8b7c2;
$black-400: #9190a0;
$black-500: #737384;
$black-600: #5a5968;
$black-700: #4d4c58;
$black-800: #41414b;
$black-900: #3a3941;
$black-950: #27262b;
