@font-face {
  font-family: "SDKukdetopokki";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SDKukdetopokki.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard JP Variable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("../../../packages/pretendard-jp/dist/web/variable/woff2/PretendardJPVariable.woff2")
    format("woff2-variations");
}
