@use "color";

main {
  min-height: 100%;
  padding: 16px;
  background-color: color.$black-950;
  overflow: auto;

  .wrapper {
    max-width: 800px;
    padding: 10px 15px;
    margin: auto;
    border-radius: 7px;
    background-color: color.$black-900;
    height: 100%;
    border: 1px solid color.$black-600;
    color: color.$black-50;
  }

  @media (max-width: 750px) {
    min-height: 100%;
    padding: 0px;
    background-color: color.$black-900;

    .wrapper {
      max-width: none;
      width: 100%;
      border-radius: 0;
      border: none;
      background-color: none;
    }
  }
}
